<div class="CRE-page" style="height: 100%;">
    <div class="row" style="min-height: 100%;">
        <div class="col-2">
            <div class="sidebar overflow-auto"
                style="min-width: 10%;max-width: 768px; height: 100%;z-index:-1;background-color: rgb(237, 237, 237);">

                <button class="btn btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#Labs"
                    aria-expanded="false" (click)="this.isClickLabOn=onClickLabs(isClickLabOn)"
                    [class.selected]="isClickLabOn">
                    <h5><span *ngIf="!isClickLabOn">Choose the Laboratory</span>
                        <span *ngIf="isClickLabOn">Hide Laboratory</span>
                    </h5>
                </button>
                <div *ngIf="isClickLabOn " id="navbarNavDropdown">

                    <div class="heading">Equipments</div>
                    <ul class="labs">
                        <li *ngFor="let eq of equipments"><a><button class="btn btn-lab" (click)="this.selected=eq"
                                    [class.selected]="eq==this.selected">{{eq}}</button></a></li>
                    </ul>
                </div>
                <div *ngIf="selected.length >= 1">
                    <!-- <div class="parts">


                        <ul>
                            <li style="color:black">
                                <a class="nav-link" href="#Theory" (click)="this.selectedOperation='theory'"> Theory <i
                                        *ngIf="this.selectedOperation=='theory'" class="bi bi-caret-right-fill"
                                        style="font-size: 25px;margin:0 0 -3px 15px;"></i></a>

                            </li>
                            <li style="color:black">
                                <a class="nav-link" href="#scrollspyHeading2"
                                    (click)="this.selectedOperation='formulae'"> Formulae <i
                                        *ngIf="this.selectedOperation=='formulae'" class="bi bi-caret-right-fill"
                                        style="font-size: 25px;margin:0 0 -3px 15px;"></i></a>
                            </li>
                            <li style="color:black">
                                <a class="nav-link" href="#scrollspyHeading2"
                                    (click)="this.selectedOperation='simulation'"> Simulation <i
                                        *ngIf="this.selectedOperation=='simulation'" class="bi bi-caret-right-fill"
                                        style="font-size: 25px;margin:0 0 -3px 15px;"></i></a>
                            </li>
                            <li style="color:black">
                                <a class="nav-link" href="#scrollspyHeading2" (click)="this.selectedOperation='Result'">
                                    Result <i *ngIf="this.selectedOperation=='Result'" class="bi bi-caret-right-fill"
                                        style="font-size: 25px;margin:0 0 -3px 15px;"></i></a>
                            </li>
                        </ul>
                    </div> -->
                </div>

            </div>
        </div>
        <div class="col-8 overflow-auto">
            <div *ngIf="selected=='Semi Batch Reactor'">
                <div id="Semi-batch" style="margin: 30px;">

                    <h1 style="font-weight:600" id="Theory">Theory</h1>
                    <div>
                        <p class="Theory">
                            The <b>semi- batch reactor</b> is often referred to as unsteady state flow reactor and
                            much more difficult to analyze than the batch reactor.
                            It offers good control of reaction speed because reaction proceeds as reactants are
                            added. Such reactors are used in a variety of applications such as colorimetric
                            titration
                            in the laboratory to large openhearth furnace for steel production The composition
                            ofvolume within the reactor is not uniform; it must be made over a differential element
                            ofvolume
                            and integrated across the whole reactor. For a semi batch reactor all four, i.e. rate of
                            reactant, flow out of element, rate ofreactant lost due to chemical reaction and rate of
                            accumulation of reactant in the element must be taken into account. Semi-batch
                            operations involves continuous addition of one ofthe reactants (A) to a tank containing
                            the other reactant
                            (E) initially and withdrawing the product continuously. The operation may be involved if
                            no product is withdrawn and the volume ofthe tank is continuously changing with respect
                            to time.<br>
                            <br>
                            <br>



                        </p>
                        <img src="https://www.researchgate.net/profile/Soudabeh_Saeid/publication/342919360/figure/download/fig5/AS:913165621657603@1594727058425/Scheme-of-the-semi-batch-reactor-system-for-the-evaluation-of-heterogeneous-catalysts-in.png"
                            style="height :fit-content;width: fit-content;">
                    </div>

                </div>
            </div>
            <div *ngIf="selected=='CSTR-Kinetics'">
                <div id="CSTR-Kinetics" style="margin: 30px;">

                    <h1 style="font-weight:600" id="Theory">Theory</h1>
                    <div>
                        <p class="Theory">
                            The <b>semi- batch reactor</b> is often referred to as unsteady state flow reactor and
                            much more difficult to analyze than the batch reactor.
                            It offers good control of reaction speed because reaction proceeds as reactants are
                            added. Such reactors are used in a variety of applications such as colorimetric
                            titration
                            in the laboratory to large openhearth furnace for steel production The composition
                            ofvolume within the reactor is not uniform; it must be made over a differential element
                            ofvolume
                            and integrated across the whole reactor. For a semi batch reactor all four, i.e. rate of
                            reactant, flow out of element, rate ofreactant lost due to chemical reaction and rate of
                            accumulation of reactant in the element must be taken into account. Semi-batch
                            operations involves continuous addition of one ofthe reactants (A) to a tank containing
                            the other reactant
                            (E) initially and withdrawing the product continuously. The operation may be involved if
                            no product is withdrawn and the volume ofthe tank is continuously changing with respect
                            to time.<br>
                            <br>
                            <br>



                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="parts" style="padding:5% 0;background-color: rgb(237, 237, 237);height:100%;">


                <ul>
                    <li >
                         <a  href="#Theory" >
                            <button class="part" (click)="this.selectedOperation='theory'" [class.selected]="selectedOperation=='theory'">Theory</button></a>

                    </li>
                    <li >
                        <a  href="#Formulae" >
                            <button class="part" (click)="this.selectedOperation='formulae'"
                            [class.selected]="selectedOperation=='formulae'">Formulae </button> </a>
                    </li>
                    <li>
                        <a  href="#Simulation" >
                           <button class="part" (click)="this.selectedOperation='simulation'"
                           [class.selected]="selectedOperation=='simulation'"> Simulation </button></a>
                    </li>
                    <li>
                        <a  href="#Result" >
                          <button class="part" (click)="this.selectedOperation='Result'"
                          [class.selected]="selectedOperation=='Result'">Result </button>  </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>