
<div class="Head bg-dark text-white">
    <span>Virtual Process Equipments</span>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div>
        <ul class="navbar-nav " style="float:left">
            <div class="nav-band" style="margin: 10px 100px ;"><h2>Virtual Process Equipments</h2></div>
            <li class="nav-item">
                <a class="nav-link active" href="#" (click)="initialize()">
                    <i class="bi bi-house-door"></i>  Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="labs" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Laboratories
                </a>
                <ul class="dropdown-menu" aria-labelledby="labs">
                    <li>
                        <button class="btn" (click)="isFmOn=true">Fluid
                            Mechanics</button>
                    </li>
                    <li>
                        <button class="btn" (click)="isHtOn=true">Heat
                            Transfer</button>

                    </li>
                    <li>
                        <button class="btn" (click)="isMoOn=true">Mechanical Operations</button>

                    </li>
                    <li>
                        <button class="btn" (click)="isMtOn=true">Mass Transfer</button>

                    </li>
                    <li>
                        <button class="btn" (click)="isCREOn=true">Chemical Reaction Engineering</button>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
<div *ngIf="!isMtOn && !isCREOn &&!isHtOn" style="margin:5% 15% ; text-align: center;
 background-color: rgb(244, 249, 253); padding: 20px; border-radius: 20px;box-shadow: 5px 5px 20px;font-size: large;">
    <span style=" font-size: xx-large;font-weight: 600;">About the Page </span>
    <h5>

    </h5>
    <hr>
    <p>
        Virtual processes in chemical engineering can be used to perform a variety of calculations and simulations to
        model the behaviour of chemical processes and systems.
        For example, users can perform calculations related to reaction kinetics,
        thermodynamics, and mass and energy balances to gain insights into the behaviour of chemical reactions and
        processes. They can also simulate transport phenomena such as diffusion, convection, and heat transfer to
        understand the movement of materials and heat in a system.
        Additionally, virtual process equipments can be used to model the behaviour of chemical processes under
        different conditions, such as variations in temperature, pressure, and composition, allowing users to gain a
        deeper understanding of how these factors affect the performance
        of a chemical system. By providing a flexible and interactive platform for these types of calculations and
        simulations, virtual process equipments can help to advance the field of chemical engineering and provide
        valuable insights into the behaviour of chemical systems.
    </p>
</div>
<!-- <div *ngIf="isHtOn">
    <app-heat-transfer></app-heat-transfer>
</div> -->
<div *ngIf="isMtOn">
    <app-mass-transfer></app-mass-transfer>
</div>
<div *ngIf="isCREOn">
    <app-chemical-rection-engineering></app-chemical-rection-engineering>
</div>