@media (max-width: 768px) {
    .sidebar {
        display: none;

    }
}
@media (max-width: 768px) {
    .parts {
        display: none;

    }
}


.btn-toggle{
    margin: 10px 0;
    max-width: 200px;
}
.btn-lab{
    width: 150px;
    margin: 10px 15px 0 -10px;
    padding: 10px;
    background-color: rgba(144, 144, 144, 0.819);    color: rgba(255, 255, 255, 0.96);
}
li{
    list-style-type: none;
}
a .btn-lab:hover{
    box-shadow: 3px 3px 5px rgb(74, 74, 74);
transform: scale(1.1,1.1);
}

.btn-lab.selected{
    background-color: rgb(49, 49, 49);
    box-shadow: 3px 3px 5px rgb(49, 49, 49);
    transform: scale(1.1,1.1);
}
.Theory{
    font-size: large;
    font-family: sans-serif;

}

.btn-goto{
    height: 50px;
    width: 50px;
    border-radius: 100%;
color:rgba(33, 33, 33, 0.744);
    background-color: rgb(0, 0, 0);
}

a #GoTO :hover{
    transform: translateY(-5px);
    background-color: rgb(92, 92, 92);
}

.part {
    text-decoration: none;
    border: none;
    font-size: larger;
    margin: 5px;
    color:rgba(38, 38, 38, 0.729)
}

.part.selected{
    margin:5px;
    transform: scale(1.3,1.3);
    font-weight: 400;
    color: black;
}