li{
    list-style-type: none;
}
.nav-style a{
    /* color: rgba(255, 255, 255, 0.823); */
}
 .Ht,.Fm{
    color:black;
 }
 .Head{
    text-align: center;font-size: xx-large;padding: 20px;font-family: sans-serif;
letter-spacing: 2.5;
 }