li{
    list-style-type: none;

}
.heading{
    font-size: 20px;
    margin: 20px 0px;
    font-weight: 500;
}
.Mass-Transfer-page{
    padding: 10px;
}

.btn-equip{
    margin:5px;
}

col{
    border:1px
}
.btn-lab{
    max-width: 100px;
    margin: 7px 0;
}
.selected{
    color: rgba(255, 255, 255, 0.65);
    background-color: black;
    transform: scale(1.1,1.1);
}