li{
    list-style-type: none;

}
.heading{
    font-size: 20px;
    margin: 20px 0px;
    font-weight: 500;
}
.Mass-Transfer-page{
    padding: 10px;
}

.btn-equip{
    margin:5px;
}

col{
    border:1px
}