<div class="body" style=" border:1px ;border-radius: 5px;margin-top: 10px;">
    <div class="main">
        <div class="row">
            <div class="col">
                <a class="nav-link"><button class="btn btn-nav " (click)="onClickTheory()"
                        [class.selected]="isTheoryOn">Theory</button></a>
            </div>
            <div class="col">
                <a class="nav-link"><button class="btn btn-nav" (click)="onClickFormula()"
                        [class.selected]="isFormulaOn">Formulaes</button></a>
            </div>
            <div class="col">
                <a class="nav-link"><button class="btn btn-nav" (click)="onClickSimulation()"
                        [class.selected]="isSimulationOn">Simulation</button></a>
            </div>
            <div class="col">
                <a class="nav-link"><button class="btn btn-nav" (click)="onClickResult()"
                        [class.selected]="isResultOn">Result</button></a>
            </div>

        </div>
        <div class="row row-body" [class.selected]="isTheoryOn||isSimulationOn||isFormulaOn||isResultOn"
            style="padding:50px ;margin:-4px">
            <div *ngIf="isTheoryOn">
                <p>
                    A shell and tube heat exchanger is a type of heat exchanging device constructed using a
                    large cylindrical enclosure, or shell, that has bundles of perfectly
                    spaced tubing compacted in its interior. Heat exchanging is the transfer of heat from
                    one substance or medium to a similar substance or medium. Shell and tube heat exchangers are
                    the most common form of heat exchanger design.
                    It is used in desulphurisation process in petroleum industry

                </p>
            </div>
            <div *ngIf="isSimulationOn" style="margin:20px">
                <div class="row">
                    <div class="col">
                        <!-- <img src='/src/assets/HEx.png'> -->
                        <button class="btn btn-success" type="button" data-bs-toggle="modal"
                            data-bs-target="#Input">Enter Specfications</button>
                    </div>
                </div>
                <div class="row">
                    <div class="modal fade " id="Input" style="margin:0% 15% ; padding:20px; width:80%">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Specifications</h5>
                                    <button class="btn" type="close" data-bs-dismiss="modal"
                                        aria-label="close">Close</button>
                                </div>

                                <div class="modal-body">
                                    <form formGroup="inputValues" style="font-size: medium;">
                                        <div class="row">
                                            <div class="col-3">
                                                <label for="Hflowrate" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Cold water Flowrate">Flow rate<sub>H</sub></label>
                                            </div>
                                            <div class="col-3">
                                                <input type="text" formControlName="Hflowrate" class="form-control"
                                                    id="Hflowrate" style="width:100px">

                                            </div>
                                            <div class="col-3">
                                                <label for="Cflowrate" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Cold water Flowrate">Flow rate<sub>C</sub></label>
                                            </div>
                                            <div class="col-3">
                                                <input type="text" formControlName="Hflowrate" class="form-control"
                                                    id="Hflowrate" style="width:100px">
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <!-- <div class="col"> -->
                                            <!-- <label for="Cflowrate" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Cold water Flowrate">Flow rate<sub>C</sub>(&deg;C)</label>
                                            </div>
                                            <div class="col">
                                                <input type="text" formControlName="Hflowrate" class="form-control"
                                                    id="Hflowrate" style="width:100px">
    
                                            </div> -->
                                            <div class="col-3">
                                                <label for="Thi" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Hot water Inlet temperature">T<sub>Hi</sub>(&deg;C)</label>
                                            </div>
                                            <div class="col-3">
                                                <input type="text" formControlName="Thi" class="form-control" id="Thi"
                                                    style="width:100px">

                                            </div>
                                            <div class="col-3">
                                                <label for="Tho" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Hot water Outlet temperature">T<sub>Ho</sub>(&deg;C)</label>
                                            </div>
                                            <div class="col-3">
                                                <input type="text" formControlName="Tho" class="form-control" id="Tho"
                                                    style="width:100px">

                                            </div>
                                        </div>

                                        <div class="row my-2">

                                            <div class="col-3">
                                                <label for="Tci" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Hot water Inlet temperature">T<sub>Ci</sub>(&deg;C)</label>
                                            </div>
                                            <div class="col">
                                                <input type="text" formControlName="Tci" class="form-control" id="Tci"
                                                    style="width:100px">

                                            </div>
                                            <div class="col">
                                                <label for="Tco" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Hot water Inlet temperature">T<sub>Ci</sub>(&deg;C)</label>
                                            </div>
                                            <div class="col">
                                                <input type="text" formControlName="Tco" class="form-control" id="Tco"
                                                    style="width:100px">

                                            </div>
                                        </div>

                                    </form>
                                    <div class="modal-footer">
                                        <button class="btn btn-success" type="submit" (click)="onSubmitInputs()"
                                            data-bs-dismiss="modal"> Generate result</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isResultOn && isValid" style="margin:20px ; padding:40px">
                <div class= "result" style="margin: 40px; border-radius: 10px;box-shadow: 5px 5px 20px; height:200px">
                <h1>Result Generated Succesfully</h1>
                <h4> Q  : {{this.Q}}</h4>
                </div>
            </div>
            <div *ngIf="isResultOn && !isValid" style="margin:20px ; padding:40px">
                <div class= "result" style="margin: 40px; border-radius: 10px;box-shadow: 5px 5px 20px; height:200px">
                <h1>No Results</h1>
                <h4> Q  : {{this.Q}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>