<div class="CRE-page">
    <div class="row">
        <div class="col-2" style="min-width: 10%;">
            
                <button class="btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#Labs"  aria-expanded="false"
                    (click)="this.isClickLabOn=onClickLabs(isClickLabOn)" [class.selected]="isClickLabOn">
                    <span>Choose the Laboratory</span>
                </button>
                <div *ngIf="isClickLabOn " id="navbarNavDropdown">

                    <div class="heading">Equipments</div>
                    <ul class="labs">
                        <li *ngFor="let eq of equipments"><a><button class="btn btn-outline-dark btn-lab"
                                    (click)="this.selected=eq" [class.selected]="eq==this.selected" >{{eq}}</button></a></li>
                    </ul>
                </div>
            
        </div>
        <div class="col-10">
            <div *ngIf="this.selected=='Semi Batch Reactor'">
                <div class="Rotary">
                    <app-semi-batch></app-semi-batch>
                </div>
            </div>
        </div>


    </div>
</div>