<div class="CRE-page">
    <div class="row">

        <div class="col">
            <div class="sidebar"
                style="min-width: 10%; height: 100%;position:fixed;z-index: 1;background-color: rgb(237, 237, 237);">

                <button class="btn btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#Labs"
                    aria-expanded="false" (click)="this.isClickLabOn=onClickLabs(isClickLabOn)"
                    [class.selected]="isClickLabOn">
                    <h5><span *ngIf="!isClickLabOn">Choose the Laboratory</span>
                        <span *ngIf="isClickLabOn">Hide Laboratory</span>
                    </h5>
                </button>
                <div *ngIf="isClickLabOn " id="navbarNavDropdown">

                    <div class="heading">Equipments</div>
                    <ul class="labs">
                        <li *ngFor="let eq of equipments"><a><button class="btn btn-lab" (click)="this.selected=eq"
                                    [class.selected]="eq==this.selected">{{eq}}</button></a></li>
                    </ul>
                </div>

            </div>
        </div>
            <div class="col-10"> 
                <div *ngIf="this.selected=='Shell & Tube H.Ex'">
                    <div class="Shell">
                        <app-shell-and-tube></app-shell-and-tube>
                    </div>
                </div>
            </div>
            
        </div>