<div class="Fm-page">
    <div class="row">
        <div class="col-2">

            <div class="sidebar overflow-scroll"
                style="min-width: 10%; height: 100%;z-index:1;background-color: rgb(237, 237, 237);">

                <button class="btn btn-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#Labs"
                    aria-expanded="false" (click)="this.isClickLabOn=onClickLabs(isClickLabOn)"
                    [class.selected]="isClickLabOn">
                    <h5><span *ngIf="!isClickLabOn">{{selected}} <i class="bi bi-chevron-down"></i></span>
                        <span *ngIf="isClickLabOn">Hide Laboratory <i class="bi bi-chevron-up"></i></span>
                    </h5>
                </button>
                <div *ngIf="isClickLabOn " id="Labs">

                    <div class="heading">Equipments</div>
                    <ul class="labs">
                        <li *ngFor="let eq of equipments"><a><button class="btn btn-lab" (click)="this.selected=eq"
                                    [class.selected]="eq==this.selected">{{eq}}</button></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-10 overflow-auto" style="background-color:white;z-index: 2;">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg">
                    <div class="row">
                        <div class="col">
                            <a>
                                <button class="part" [class.selected]="isTheoryOn" (click)="onClickTheory()">Theory
                                </button>
                            </a>
                        </div>
                        <div class="col">
                            <a>
                                <button class="part" (click)="onClickFormula()" [class.selected]="isFormulaOn"> Formulae
                                </button>
                            </a>
                        </div>
                        <div class="col">
                            <a>
                                <button class="part" (click)="onClickSimulation() " [class.selected]="isSimulationOn">
                                    Simulation
                                </button>
                            </a>
                        </div>
                        <div class="col">
                            <a>
                                <button class="part" (click)="onClickResult() " [class.selected]="isResultOn">Result
                                </button>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div *ngIf="isTheoryOn">
                <div *ngIf="selected=='Shell and Tube Heat Exchanger'">
                    <br>
                    <h2>Objectives</h2>
                    <br>
                    <br>
                    <p> To determine the overall Heat transfer coefficient of the given Shell and tube Heat
                        Exchanger </p><br>
                    <p class="Theory">

                        A shell and tube heat exchanger is a type of heat exchanging device constructed using a
                        large cylindrical enclosure, or shell,
                        that has bundles of perfectly spaced tubing compacted in its interior.
                        Heat exchanging is the transfer of heat from one substance or medium to a similar
                        substance
                        or medium. Shell and tube heat exchangers
                        are the most common form of heat exchanger design.
                        It is used in desulphurisation process in petroleum industry
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
                <div *ngIf="selected=='Straight Pipes'" style="background-color:white">
                    <div id="Straight Pipes" style="margin: 30px;">
                        <div>
                            <p class="Theory">
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>

                </div>

                <div *ngIf="selected=='Helical Coil'">
                    <div id="Helical Coil" style="margin: 30px;padding:10px">
                        <div>
                            <h4>Objectives</h4>
                            <p> To determine the coefficient of Friction factor over range of reynolds Number</p><br>
                            <br>
                            <p class="Theory">

                                When pipeline resistance. it liquid flows through a subjected to frictional frictional
                                resistance depends on the roughness of the inner surface of the pipes The love of energy
                                between
                                specified meanin of pipe the is observed. wefficient for of friction discharge is
                                calculated
                            </p>

                        </div>
                    </div>

                </div>

            </div>
            <div *ngIf="isFormulaOn">
                <div *ngIf="selected=='Shell and Tube Heat Exchanger'">

                </div>
            </div>
            <div *ngIf="isSimulationOn">
                <div style="margin:5% 20%;">
                    <form [formGroup]="inputValues" (ngSubmit)="onSubmit()">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                    <th>Units</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Hot Fluid mass Flowrate </td>

                                    <td><input type="number" formControlName="Hflowrate"></td>
                                    <td>Kg/sec</td>
                                </tr>
                                <tr>
                                    <td>Cold Fluid mass Flowrate</td>

                                    <td><input type="number" formControlName="Cflowrate"></td>
                                    <td>Kg/sec</td>
                                </tr>
                                <tr>

                                    <td>HotFluid Inlet temperature</td>
                                    <td><input type="number" formControlName="Thi"></td>
                                    <td>&deg;C</td>
                                </tr>
                                <tr>
                                    <td>HotFluid Outlet temperature</td>

                                    <td><input type="number" formControlName="Tho"></td>
                                    <td>&deg;C</td>
                                </tr>
                                <tr>
                                    <td>Cold fluid inlet temperature</td>

                                    <td><input type="number" formControlName="Tci"></td>
                                    <td>&deg;C</td>
                                </tr>
                                <tr>

                                    <td>Cold fluid Outlet temperature</td>
                                    <td><input type="number" formControlName="Tco"></td>
                                    <td>&deg;C</td>
                                </tr>
                                <tr>

                                    <td>Shell side Fluid</td>
                                    <td>
                                        <select  formControlName="ShellFluid">
                                          <option value="Hot" default>Hot Fluid</option>
                                          <option value="Cold">Cold</option>
                                        </select></td>
                                    <td> NA </td>
                                </tr>
                                <tr>
                                    <td>Number of Passes</td>
                                    <td><input type="number" formControlName="Passes"></td>
                                    <td> NA </td>
                                </tr>



                            </tbody>
                        </table>
                        <button class="btn btn-success" type="submit" [disabled]="!inputValues.valid">Submit</button>
                        <div *ngIf="inputValues.invalid && inputValues.dirty" style="color: red">All fields are
                            required.</div>
                        <div *ngIf="inputValues.valid" style="color: rgb(4, 255, 0)">Ready to calculate</div>

                    </form>

                </div>
            </div>

        </div>
        <div *ngIf="isResultOn">

        </div>
        <div class="position-fixed bottom-0 end-0">

            <a id="GoTO" href="#Theory"><button class="btn btn-goto" style="border-radius:100%;"><i
                        class="bi bi-chevron-up"
                        style="color: rgba(233, 233, 233, 0.875);font-size: 20px;"></i></button></a>
        </div>
    </div>
</div>